#dealsoftheweek{
    .mycard{
        position: relative;
        border: none;
        border-right: 1px solid #edeef5;
        border-bottom: 1px solid #edeef5;
        .card-body{
            position: inherit;
            h5{
                font-size: 15px;
                color: #202335;
                font-family: "Intern",sans-serif;
            }
            .stock{
                color:#00b853;
                font-size: .6875rem;
                margin-bottom: 0.625rem;
                font-weight: bold;
            }
            .rateing{
                font-family: 'klbtheme';
                font-size: 11px;
                padding-top: 10px;
                .activerateing{
                    color: orange;
                }
            }
            .price{
                .oldprice{
                    text-decoration: line-through;
                    color: #c2c2de;
                    font-size: 80%;
                    font-weight: 500;
                }
                .newprice{
                    font-family: "Dosis",sans-serif;
                }
            }
            a{
                width: 100%;
                background-color: #233a95;
                color: white;
                border-radius: 20px;
                opacity: 0;
                position: relative;
            }
        }
        &:hover a{
            opacity: 1;
            transition: all .8s;
            margin-top: 220px;
            
        }
        &:hover{
            position: relative;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 2px solid #edeef5;
            
            z-index: 12;
        }
        .percent{
            position: absolute;
            left: 10px;
            top: 10px;
            background-color: #0077b5;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-family: "Dosis", sans serif;
            font-weight: 700;
        }
        .zoom{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 30px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border-radius: 50%;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            opacity: 0;
            &:hover{
                background-color: #1da1f2;
                color: white;
            }
        }
        .heart{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 80px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border-radius: 50%;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            opacity: 0;
            &:hover{
                background-color: #1da1f2;
                color: white;
            }
        }
        &:hover .heart{
            opacity: 1;
            transition: all .5s;
        }
        &:hover .zoom{
            opacity: 1;
            transition: all .3s;
        }


    }
}