header {
	#covid19 {
		* {
			margin: 0px !important;
			padding: 0px !important;
		}
		.header-txt {
			height: 5vh;
			p {
				text-align: center;
				background-color: #233a95;
				color: white;
				font-family: "Inter", sans-serif;
			}
		}
	}
	#headermenu {
		border-bottom: 1px solid #2bbef9;
		.headermenu {
			.container {
				* {
					padding: 0 !important;
				}
			}
			nav {
				ul {
					list-style: none;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					padding-left: 0;
					li {
						a {
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							justify-content: center;
							text-decoration: none;
							color: black;
							font-size: 90%;
							margin-right: 10px;
							font-weight: 400;
							font-family: "Inter", sans-serif;
							&:hover {
								color: #2bbef9;
								-webkit-transition: all .4s;
								transition: all .4s;
							}
						}
					}
				}
			}
		}
		.secured {
			* {
				margin: 0px !important;
				padding: 0px !important;
			}
			.icon-text {
				float: right;
				border-right: 1px solid #2bbef9;
			}
			img {
				display: inline-block;
				width: 4%;
				padding-left: 40%;
			}
			span {
				display: inline-block;
				font-weight: 300;
				font-size: 90%;
				font-family: "Inter", sans-serif;
				margin-right: 5px;
				&::before {
					font-family: FontAwesome;
					display: inline-block;
					padding-right: 6px;
					vertical-align: middle;
					content: "\f132";
				}
			}
		}
		.num-select {
			span {
				display: inline-block;
				font-weight: 300;
				font-size: 90%;
				font-family: "Inter", sans-serif;
			}
			a {
				text-decoration: none;
				color: #2bbef9;
				padding-left: 10px;
				&:hover {
					text-decoration: underline;
					-webkit-transition: all .9s;
					transition: all .9s;
				}
			}
			.dropdown {
				position: relative;
				display: inline-block;
				span {
					&:hover {
						color: #2bbef9;
					}
				}
				.dropdown-content {
					display: none;
					position: absolute;
					background-color: #f9f9f9;
					min-width: 80px;
					-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					z-index: 1;
					text-align: center;
					P {
						margin: 0;
						padding: 0px 10px;
					}
					&:hover {
						color: #2bbef9;
					}
				}
				&:hover {
					.dropdown-content {
						display: block;
					}
				}
			}
		}
	}
	#mainheader {
		.logo {
			img {
				width: 100%;
			}
			span {
				font-size: 59%;
				color: #2bbef9;
				cursor: pointer;
			}
		}
		.location {
			margin-top: 15px;
			border: 1px solid #2bbef9;
			border-radius: 10px;
			-webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
			cursor: pointer;
			margin-left: 46px;
			#myInput {
				background-image: url("/css/searchicon.png");
				background-position: 10px 12px;
				background-repeat: no-repeat;
				width: 100%;
				font-size: 16px;
				padding: 12px 20px 12px 40px;
				border: 1px solid #ddd;
				margin-bottom: 12px;
			}
			#myUL {
				list-style-type: none;
				padding: 0;
				margin: 0;
				li {
					a {
						border: 1px solid #ddd;
						margin-top: -1px;
						background-color: #f6f6f6;
						padding: 12px;
						text-decoration: none;
						font-size: 18px;
						color: black;
						display: block;
						&:hover {
							&:not(.header) {
								background-color: #eee;
							}
						}
					}
					&:hover {
						color: #2bbef9 !important;
					}
				}
			}
			span {
				display: block;
				font-size: 59%;
				color: #2bbef9;
			}
			&:hover {
				-webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				-webkit-transition: all .4s;
				transition: all .4s;
			}
			button {
				width: 100%;
				height: 50%;
				background: none;
				margin-left: 0;
				border: none;
				padding-left: 0;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				&::after {
					font-family: FontAwesome;
					display: inline-block;
					padding-right: 6px;
					vertical-align: middle;
					padding-left: 20px;
					color: #2bbef9;
					content: "\f078";
				}
			}
		}
		.searchbox {
			form {
				padding-top: 21px;
				input {
					border: none;
					width: 90%;
					height: 48px;
					background: #f3f4f7;
					padding-left: 20px;
					border-radius: 10px;
					&:focus {
						outline: none;
					}
					&::after {
						content: "\f078";
					}
				}
			}
		}
		.shoping {
			padding-top: 30px;
			i {
				cursor: pointer;
				font-size: 30px;
				margin-right: 20px;
				&:last-child {
					background-color: aquamarine;
					width: 50px;
					height: 50px;
					text-align: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					border-radius: 26px;
				}
			}
			.shop {
				width: 20%;
				margin: 0;
			}
			span {
				font-size: 30px;
				font-size: 22px;
				margin-right: 20px;
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			}
		}
	}
	#navmenu {
		.allcatagories {
			margin-top: 2vh;
			width: 70%;
			height: 7vh;
			background-color: #2bbef9;
			border-radius: 20px;
			position: relative;
			span {
				position: absolute;
				left: 7%;
				top: 26%;
				color: white;
				font-weight: 30%;
				font-size: large;
				cursor: pointer;
				&::before {
					font-family: FontAwesome;
					display: inline-block;
					padding-right: 6px;
					vertical-align: middle;
					content: '\f0c9';
					font-size: 15px;
					padding-bottom: 2px;
				}
				&::after {
					font-family: FontAwesome;
					display: inline-block;
					padding-right: 6px;
					vertical-align: middle;
					content: '\f107';
					padding-left: 15px;
				}
			}
		}
		.navbar {
			ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				list-style: none;
				margin-top: 2%;
				float: right;
				.active {
					background-color: #2bbef9;
				}
				li {
					padding: 5px 10px;
					border-radius: 13px;
					font-size: 14px;
					&:nth-child(1)::after {
						font-family: FontAwesome;
						display: inline-block;
						padding-right: 6px;
						vertical-align: middle;
						content: '\f107';
						padding-left: 15px;
						color: black;
						font-size: 18px;
						margin-bottom: 2px;
					}
					&:nth-child(2)::after {
						font-family: FontAwesome;
						display: inline-block;
						padding-right: 6px;
						vertical-align: middle;
						content: '\f107';
						padding-left: 15px;
						color: black;
						font-size: 18px;
						margin-bottom: 2px;
					}
					&:nth-child(3)::before {
						font-family: FontAwesome;
						display: inline-block;
						padding-right: 6px;
						vertical-align: middle;
						content: '\f6d7';
						padding-left: 15px;
						color: black;
						font-size: 18px;
						margin-bottom: 2px;
					}
					&:nth-child(4)::before {
						font-family: FontAwesome;
						display: inline-block;
						padding-right: 6px;
						vertical-align: middle;
						content: '\f6d7';
						padding-left: 15px;
						color: black;
						font-size: 18px;
						margin-bottom: 2px;
					}
					&:nth-child(5)::before {
						font-family: FontAwesome;
						display: inline-block;
						padding-right: 6px;
						vertical-align: middle;
						content: '\f6d7';
						padding-left: 15px;
						color: black;
						font-size: 18px;
						margin-bottom: 2px;
					}
					&:nth-child(6)::before {
						font-family: FontAwesome;
						display: inline-block;
						padding-right: 6px;
						vertical-align: middle;
						content: '\f6d7';
						padding-left: 15px;
						color: black;
						font-size: 18px;
						margin-bottom: 2px;
					}
					&:nth-child(7)::before {
						font-family: FontAwesome;
						display: inline-block;
						padding-right: 6px;
						vertical-align: middle;
						content: '\f6d7';
						padding-left: 15px;
						color: black;
						font-size: 18px;
						margin-bottom: 2px;
					}
					a {
						color: black;
						text-decoration: none;
						font-family: "Inter", sans-serif;
					}
				}
			}
		}
	}
	.allcatagoriescontent {
		position: absolute;
		top: 250px;
		left: 120px;
		width: auto;
		height: auto;
		z-index: 2;
		ul {
			padding: 0;
			list-style: none;
			background-color: white;
			li {
				text-align: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				margin: 7px 30px 15px 10px;
				font-size: 120%;
				color: black;
				.btn {
					margin: 0;
					padding: 0;
					font-size: 17px;
				}
				.sub-menu {
					width: 300px;
				}
				a {
					text-decoration: none;
					text-align: center;
					color: black;
					background: none;
					&:hover {
						color: #233a95;
						-webkit-transition: .3s;
						transition: .3s;
					}
				}
			}
		}
	}
	.homesections {
		position: absolute;
		top: 237px;
		left: 472px;
		width: auto;
		height: auto;
		z-index: 2;
		display: none;
		ul {
			list-style: none;
			display: inline-block;
			background-color: white;
			width: auto;
			li {
				margin-right: 57px;
				margin-top: 10px;
				&:hover {
					color: #233a95;
				}
			}
		}
	}
	.shopsections {
		position: absolute;
		top: 237px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		background-color: white;
		z-index: 7;
		& > ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			list-style: none;
			a {
				text-decoration: none;
			}
			li {
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					padding-top: 20px;
					padding-right: 120px;
					a {
						display: block;
						padding-bottom: 10px;
					}
					li {
						padding-bottom: 5px;
					}
				}
			}
		}
	}
}
main{
    .card {
        margin: auto;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }
    
    @media(max-width:767px) {
        .card {
            margin: 3vh auto
        }
    }
    
    .cart {
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem
    }
    
    @media(max-width:767px) {
        .cart {
            padding: 4vh;
            border-bottom-left-radius: unset;
            border-top-right-radius: 1rem
        }
    }
    
    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65)
    }
    
    @media(max-width:767px) {
        .summary {
            border-top-right-radius: unset;
            border-bottom-left-radius: 1rem
        }
    }
    
    .summary .col-2 {
        padding: 0
    }
    
    .summary .col-10 {
        padding: 0
    }
    
    .row {
        margin: 0
    }
    
    .title b {
        font-size: 1.5rem
    }
    
    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%
    }
    
    .col-2,
    .col {
        padding: 0 1vh
    }
    
    a {
        padding: 0 1vh
    }
    
    .close {
        margin-left: auto;
        font-size: 0.7rem
    }
    
    img {
        width: 3.5rem
    }
    
    .back-to-shop {
        margin-top: 4.5rem
    }
    
    h5 {
        margin-top: 4vh
    }
    
    hr {
        margin-top: 1.25rem
    }
    
    form {
        padding: 2vh 0
    }
    
    select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }
    
    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }
    
    input:focus::-webkit-input-placeholder {
        color: transparent
    }
    
    .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0
    }
    
    .btn:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        transition: none
    }
    
    .btn:hover {
        color: white
    }
    
    a {
        color: black
    }
    
    a:hover {
        color: black;
        text-decoration: none
    }
    
    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center
    }
}
footer {
	.main {
		background-color: #233a95;
		width: 100%;
		.owncontainer {
			width: 1200px;
			position: relative;
			.joinus {
				.content {
					padding-top: 80px;
					position: absolute;
					height: 100%;
					p {
						color: white;
					}
					h4 {
						color: white;
					}
					span {
						display: block;
						width: 80%;
						height: auto;
						color: #ddd;
					}
					.mail {
						span {
							width: auto;
							height: auto;
							font-size: 26px;
							border: none;
							background: white;
							border-radius: 0px;
						}
						input[type=button] {
							background-color: #233a95;
							color: white;
						}
					}
				}
			}
			.img {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
			}
		}
	}
	.owncontainer {
		width: 1200px;
		position: relative;
		.col-3 {
			span {
				display: inline-block;
				font-weight: 400;
				padding-top: 20px;
				font-family: "Inter", sans-serif;
				cursor: pointer;
				&::before {
					font-family: FontAwesome;
					display: inline-block;
					padding-right: 6px;
					vertical-align: middle;
				}
				&:nth-child(1)::before {
					content: '\f7ef';
					padding-left: 15px;
					color: black;
					font-size: 18px;
					margin-bottom: 2px;
				}
			}
		}
	}
	.info {
		.owncontainer {
			width: 1200px;
			margin-top: 30px;
			.mylist {
				.mylistelements {
					h4 {
						font-size: medium;
						text-align: start;
					}
					ul {
						margin: 0;
						padding: 0;
						list-style: none;
						li {
							text-align: start;
							a {
								text-decoration: none;
								color: #2bbef9;
							}
						}
					}
				}
			}
		}
	}
	.contact {
		.contactdetails {
			width: 1200px;
			.number {
				h2 {
					&::before {
						font-family: FontAwesome;
						display: inline-block;
						padding-right: 6px;
						vertical-align: middle;
						content: '\f095';
						padding-left: 15px;
						color: black;
						margin-bottom: 2px;
						width: auto;
						height: auto;
						font-size: 23px;
						padding-bottom: 3px;
					}
				}
				span {
					margin-left: 36px;
				}
			}
			.rightsection {
				position: relative;
				.socialmedias {
					position: absolute;
					right: 0;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					i {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						font-size: 35px;
						width: auto;
						color: cornflowerblue;
						height: auto;
						padding: 5px;
						border: 1px solid blue;
						border-radius: 50%;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						cursor: pointer;
					}
				}
				.mobileapps {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					right: 150px;
					top: 7px;
					position: absolute;
				}
			}
		}
	}
}